$white: #fff;
$blue: #7cbae6;

$Montserrat: 'Montserrat', sans-serif;

$gray-bg: #F5F5F5;
$d-gray-bg: #edeef0;
$l-green-bg: #f5f7f4;
$gray: #c2c2c2;
$d-gray: #424242;
$border-color: #dcdcdc;
$dark-border: #282826;

$pri-border-radius: 2px;

$heading-bg: #d8d8d8;
$blue: #4285F4;
$d-blue: #3262ba;
$l-blue: #71A3F7;

$icon-bg: #5a5a58;
$icon-color: #90908e;
$icon-shadow: rgb(67,67,65);
$icon-hover-shadow: rgb(41,119,155);

$box-shadow1: 0px 0px 3px rgba(0,0,0,0.16), 0px 0px 3px rgba(0,0,0,0.23);
$box-shadow2: 0px 1px 2px rgba(0,0,0,0.16), 0px 1px 2px rgba(0,0,0,0.23);

$layer-1: -1px 1px 2px rgba(0, 0, 0, .1);
