
input[type=checkbox] {
 visibility: hidden;
}

.roundedTwo {
width: 21px;
height: 21px;
background: $green;
margin-bottom: 5px;

-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
position: relative;
}

.roundedTwo label {
cursor: pointer;
position: absolute;
width: 19px;
height: 19px;

-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
left: 1px;
top: 1px;

background: #fff;

p{
 left: 30px;
 position: relative;
 width: 150px;
}

}

.roundedTwo label:after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
content: '';
position: absolute;
width: 9px;
height: 5px;
background: transparent;
top: 6px;
left: 5px;
border: 3px solid $green;
border-top: none;
border-right: none;

-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
filter: alpha(opacity=30);
opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;
}
